# Configurações da API
HOST=http://localhost:3000
PORT=3000
NODE_ENV=development
LOG_LEVEL=info # fatal | error | warn | info | debug | trace | silent .
PROTOCOLO=http # http | https
VERSAO=1.0.4
SYNC_SESSIONS=false # true | false

CORS_ORIGINS=*
# ou, se quiser limitar:
# CORS_ORIGINS=https://meusite.com,http://localhost:3000

MANAGER=true
CHAVE_SECRET_SESSION_MANAGER=ASDASDSA55WQ88E55R8ER5T2QW5E5Q
# Se quiser desativar o manager basta bota false

# Nome que aparece no whatsapp
SESSION_PHONE_CLIENT=Flash_api

# Navegador Nome Opções disponivel: Chrome | Firefox | Edge | Opera | Safari
SESSION_PHONE_NAME=Chrome

# API Key Global (obrigatória para criar sessões)
GLOBAL_API_KEY=ASDASDSA55WQ88E55R8ER5T2QW5E5Q

# Webhook Global
ENABLE_GLOBAL_WEBHOOK=false
GLOBAL_WEBHOOK_URL=https://your-webhook-url.com/webhook
GLOBAL_WEBHOOK_SECRET=ASDASDSA55WQ8R563DG9Y6T2QW5E5Q

# WebSocket Global
ENABLE_WEBSOCKET=true
GLOBAL_WEBSOCKET_SECRET=123

# ✅ DATABASE CONFIGURATION - MYSQL2
# postgres ou mysql
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=flashapi
DB_CONNECTION_LIMIT=1000
QUEUELIMIT=0


#REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=

# Limite de geração de qrcode 
LIMITE_QRCODE=10

#Delete temp mensagem
DELETE_TEMP_MENSAGE=true # true/false
TEMP_MENSAGE=3600 # 1 minuto

TZ=America/Sao_Paulo

DELETE_SESAO_DISCONECT=true # true ou false
TEMP_DELETE_SESSAO=5 # 5 horas

#Proxy
PROXY_STATE=false
PROXY_HOST=127.0.0.1
PROXY_PROTOCOL=http
PROXY_USERNAME=proxy_senha
PROXY_PASSWORD=proxy_login
PROXY_PORT=823
# ou
# Não define PROXY_PORT para sortear entre 10000 e 20000
# opcional:
PROXY_PORT_MIN=10000        # mínimo do intervalo
PROXY_PORT_MAX=20000        # máximo do intervalo